aiofiles
dnspython
motor
pymongo
Telethon
tgcrypto
cryptg
ffmpeg-python
heroku3
aiohttp
Flask
requests
gunicorn
tgcrypto
yt-dlp
https://github.com/samerastanboly/ethon/archive/refs/heads/main.zip
